<div class="section">
    <div>
        <div uib-carousel active="active"  class="carousel slide" interval="carouselInterval" no-transition="false" no-wrap="noWrapSlides">
            <div uib-slide ng-repeat="slide in slides track by slide.id" index="slide.id">
                <img ng-src="{{slide.image}}" style="margin:auto;">
                <div class="carousel-caption">
                    <h4>Slide {{slide.id}}</h4>
                    <!--<p>{{slide.text}}</p>-->
                </div>
            </div>
        </div>
    </div>
</div>

<br>

<div>
    <div class="row">
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <p class="text-center">Males</p> 
                    
                    <img class="img-responsive" src="/static/app/img/Sharon_12-800x514.jpg" caption="Males"/>
                </div>
                <div class="panel-body">

                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading" >
                    <p class="text-center">Females</p>
                    <img class="img-responsive" src="/static/app/img/Sharon_12-800x514.jpg"/>
                </div>
                <div class="panel-body">
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading" >
                    <p class="text-center">Puppies</p>
                    <img class="img-responsive" src="/static/app/img/Sharon_12-800x514.jpg"/>
                </div>
                <div class="panel-body">
                </div>
            </div>
        </div>
        <!--<div class="col s4 ">
            <div class="card grey darken-3 hoverable ">
                <div class="card-image waves-effect waves-block waves-light ">
                    <img class="activator responsive-img" src="/static/app/img/Sharon_12-800x514.jpg"/>
                </div>
                <div class="card-content teal-text text-lighten-5">
                    <span class="card-title activator">Males<i class="material-icons right">more_vert</i></span>

                    <p><a href="#">Our male dogs <i class="material-icons right">chevron_right</i></a></p>
                </div>
                <div class="card-reveal grey darken-3">
                    <span class="card-title teal-text text-lighten-5">Males<i
                            class="material-icons right">close</i></span>
                    <ul class="collection center">
                        <a href="#" class="collection-item">Rufus</a>
                        <a href="#" class="collection-item">Mafia</a>
                        <a href="#" class="collection-item">Diablo</a>
                        <a href="#" class="collection-item">Eufrat</a>
                    </ul>
                </div>
            </div>
        </div>

        <div class="col s4">
            <div class="card">
                <div class="card-image waves-effect waves-block waves-light">

                </div>
                <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">Card Title<i
                            class="material-icons right">more_vert</i></span>

                    <p><a href="#">This is a link</a></p>
                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>

                    <p>Here is some more information about this product that is only revealed once clicked on.</p>
                </div>
            </div>
        </div>

        <div class="col s4">
            <div class="card medium">
                <div class="card-image waves-effect waves-block waves-light">

                </div>
                <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">Card Title<i
                            class="material-icons right">more_vert</i></span>

                    <p><a href="#">This is a link</a></p>
                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>

                    <p>Here is some more information about this product that is only revealed once clicked on.</p>
                </div>
            </div>
        </div>-->
    </div>
</div>

<div class="section">
    <div>
        <div class="row center">
            <div class="col-md-11 center panel-center">
                <div class="panel panel-default">
                    <div class="panel-heading text-center">
                        <span class="card-title text-center">Title</span>
                    </div>
                    <div class="panel-body">
                        <p>I am a very simple card. I am good at containing small bits of information.
                            I am convenient because I require little markup to use effectively.</p>
                    </div>
                    <div class="card-action right-align">
                        <a href="#">This is a link</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>