<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.amber-light_blue.min.css" />
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <div class="demo-layout-waterfall mdl-layout mdl-js-layout">
      <header class="mdl-layout__header mdl-layout__header--waterfall">
        <!-- Top row, always visible -->
        <div class="mdl-layout__header-row">
          <!-- Title -->
          <span class="mdl-layout-title">Title</span>

        </div>
        <!-- Bottom row, not visible on scroll -->
        <div class="mdl-layout__header-row">
          <!-- Navigation -->
          <nav class="mdl-navigation">
            <a class="mdl-navigation__link" href="">Home</a>
            <a class="mdl-navigation__link" href="">Products</a>
            <a class="mdl-navigation__link" href="">Sale</a>
            <a class="mdl-navigation__link" href="">Contact</a>
            <a class="mdl-navigation__link" href="">Contact</a>
          </nav>
          <div class="mdl-layout-spacer"></div>
          <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable
                      mdl-textfield--floating-label mdl-textfield">
            <label class="mdl-button mdl-js-button mdl-button--icon"
                   for="waterfall-exp">
              <i class="material-icons">search</i>
            </label>
            <div class="mdl-textfield__expandable-holder">
              <input class="mdl-textfield__input" type="text" name="sample"
                     id="waterfall-exp">
            </div>
          </div>
        </div>
      </header>
      <div class="mdl-layout__drawer">
        <span class="mdl-layout-title">Title</span>
        <nav class="mdl-navigation">
          <a class="mdl-navigation__link" href="">Link</a>
          <a class="mdl-navigation__link" href="">Link</a>
          <a class="mdl-navigation__link" href="">Link</a>
          <a class="mdl-navigation__link" href="">Link</a>
        </nav>
      </div>
      <main class="mdl-layout__content">
        <div class="page-content">
          <div class="mdl-grid">
            <div class="mdl-cell mdl-cell--2-col">
              <div class="demo-card-event mdl-card mdl-shadow--2dp mdl-color--amber-200">
                <div class="mdl-card__supporting-text">
                  <h3>Material</h3>
                  <ul class='mdl-list'>
                    <li class="mdl-list__item">
                      <span class="mdl-list__item-secondary-action">
                        <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="list-checkbox-1">
                          <input type="checkbox" id="list-checkbox-1" class="mdl-checkbox__input" checked />
                        </label>
                      </span>
                      <span class="mdl-list__item-primary-content">
                        Cloth
                      </span>
                    </li>
                    <li class="mdl-list__item">
                      <span class="mdl-list__item-secondary-action">
                        <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="list-checkbox-2">
                          <input type="checkbox" id="list-checkbox-2" class="mdl-checkbox__input" checked />
                        </label>
                      </span>
                      <span class="mdl-list__item-primary-content">
                        Wool
                      </span>
                    </li>
                    <li class="mdl-list__item">
                      <span class="mdl-list__item-secondary-action">
                        <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="list-checkbox-3">
                          <input type="checkbox" id="list-checkbox-3" class="mdl-checkbox__input" checked />
                        </label>
                      </span>
                      <span class="mdl-list__item-primary-content">
                        Cloth
                      </span>
                    </li>
                    <li class="mdl-list__item">
                      <span class="mdl-list__item-secondary-action">
                        <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="list-checkbox-4">
                          <input type="checkbox" id="list-checkbox-4" class="mdl-checkbox__input" checked />
                        </label>
                      </span>
                      <span class="mdl-list__item-primary-content">
                        Cloth
                      </span>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="demo-card-event mdl-card mdl-shadow--2dp mdl-color--amber-200">
                <div class="mdl-card__supporting-text">
                  <h3>Color</h3>
                  <ul class='mdl-list'>
                    <li class="mdl-list__item">
                      <span class="mdl-list__item-secondary-action">
                        <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="list-checkbox-5">
                          <input type="checkbox" id="list-checkbox-5" class="mdl-checkbox__input" checked />
                        </label>
                      </span>
                      <span class="mdl-list__item-primary-content">
                        Black
                      </span>
                    </li>
                    <li class="mdl-list__item">
                      <span class="mdl-list__item-secondary-action">
                        <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="list-checkbox-6">
                          <input type="checkbox" id="list-checkbox-6" class="mdl-checkbox__input" checked />
                        </label>
                      </span>
                      <span class="mdl-list__item-primary-content">
                        Blue
                      </span>
                    </li>
                    <li class="mdl-list__item">
                      <span class="mdl-list__item-secondary-action">
                        <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="list-checkbox-7">
                          <input type="checkbox" id="list-checkbox-7" class="mdl-checkbox__input" checked />
                        </label>
                      </span>
                      <span class="mdl-list__item-primary-content">
                        Green
                      </span>
                    </li>
                    <li class="mdl-list__item">
                      <span class="mdl-list__item-secondary-action">
                        <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="list-checkbox-8">
                          <input type="checkbox" id="list-checkbox-8" class="mdl-checkbox__input" checked />
                        </label>
                      </span>
                      <span class="mdl-list__item-primary-content">
                        Red
                      </span>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="demo-card-event mdl-card mdl-shadow--2dp mdl-color--amber-200">
                <div class="mdl-card__supporting-text">
                  <h3>Size</h3>
                  <ul class='mdl-list'>
                    <li class="mdl-list__item">
                      <span class="mdl-list__item-secondary-action">
                        <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="list-checkbox-9">
                          <input type="checkbox" id="list-checkbox-9" class="mdl-checkbox__input" checked />
                        </label>
                      </span>
                      <span class="mdl-list__item-primary-content">
                        XS
                      </span>
                    </li>
                    <li class="mdl-list__item">
                      <span class="mdl-list__item-secondary-action">
                        <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="list-checkbox-10">
                          <input type="checkbox" id="list-checkbox-10" class="mdl-checkbox__input" checked />
                        </label>
                      </span>
                      <span class="mdl-list__item-primary-content">
                        S
                      </span>
                    </li>
                    <li class="mdl-list__item">
                      <span class="mdl-list__item-secondary-action">
                        <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="list-checkbox-11">
                          <input type="checkbox" id="list-checkbox-11" class="mdl-checkbox__input" checked />
                        </label>
                      </span>
                      <span class="mdl-list__item-primary-content">
                        M
                      </span>
                    </li>
                    <li class="mdl-list__item">
                      <span class="mdl-list__item-secondary-action">
                        <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="list-checkbox-12">
                          <input type="checkbox" id="list-checkbox-12" class="mdl-checkbox__input" checked />
                        </label>
                      </span>
                      <span class="mdl-list__item-primary-content">
                        L
                      </span>
                    </li>
                    <li class="mdl-list__item">
                      <span class="mdl-list__item-secondary-action">
                        <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="list-checkbox-13">
                          <input type="checkbox" id="list-checkbox-13" class="mdl-checkbox__input" checked />
                        </label>
                      </span>
                      <span class="mdl-list__item-primary-content">
                        XL
                      </span>
                    </li>
                    <li class="mdl-list__item">
                      <span class="mdl-list__item-secondary-action">
                        <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="list-checkbox-14">
                          <input type="checkbox" id="list-checkbox-14" class="mdl-checkbox__input" checked />
                        </label>
                      </span>
                      <span class="mdl-list__item-primary-content">
                        XXL
                      </span>
                    </li>
                  </ul>
                </div>
                <div class="mdl-card__supporting-text">
                  <h3>Product</h3>
                  <ul class='mdl-list'>
                    <li class="mdl-list__item">
                      <span class="mdl-list__item-secondary-action">
                        <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="list-checkbox-9">
                          <input type="checkbox" id="list-checkbox-9" class="mdl-checkbox__input" checked />
                        </label>
                      </span>
                      <span class="mdl-list__item-primary-content">
                        Hats
                      </span>
                    </li>
                    <li class="mdl-list__item">
                      <span class="mdl-list__item-secondary-action">
                        <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="list-checkbox-10">
                          <input type="checkbox" id="list-checkbox-10" class="mdl-checkbox__input" checked />
                        </label>
                      </span>
                      <span class="mdl-list__item-primary-content">
                        Shirts
                      </span>
                    </li>
                    <li class="mdl-list__item">
                      <span class="mdl-list__item-secondary-action">
                        <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="list-checkbox-11">
                          <input type="checkbox" id="list-checkbox-11" class="mdl-checkbox__input" checked />
                        </label>
                      </span>
                      <span class="mdl-list__item-primary-content">
                        Sweaters
                      </span>
                    </li>
                    <li class="mdl-list__item">
                      <span class="mdl-list__item-secondary-action">
                        <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="list-checkbox-12">
                          <input type="checkbox" id="list-checkbox-12" class="mdl-checkbox__input" checked />
                        </label>
                      </span>
                      <span class="mdl-list__item-primary-content">
                        Jackets
                      </span>
                    </li>
                    <li class="mdl-list__item">
                      <span class="mdl-list__item-secondary-action">
                        <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="list-checkbox-13">
                          <input type="checkbox" id="list-checkbox-13" class="mdl-checkbox__input" checked />
                        </label>
                      </span>
                      <span class="mdl-list__item-primary-content">
                        Scarfs
                      </span>
                    </li>
                    <li class="mdl-list__item">
                      <span class="mdl-list__item-secondary-action">
                        <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="list-checkbox-14">
                          <input type="checkbox" id="list-checkbox-14" class="mdl-checkbox__input" checked />
                        </label>
                      </span>
                      <span class="mdl-list__item-primary-content">
                        Accessories
                      </span>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="mdl-cell mdl-cell--8-col">
              <div class="mdl-grid ">
                <div class="mdl-cell mdl-cell--4-col">
                  <div class="demo-card-image mdl-card mdl-shadow--2dp">
                    <div class="mdl-card__title mdl-card--expand"></div>
                    <div class="mdl-card__actions mdl-color--pink-100">
                      <span class="demo-card-image__filename">Image.jpg</span>
                    </div>
                  </div>
                </div>
                <div class="mdl-cell mdl-cell--4-col">
                  <div class="demo-card-image mdl-card mdl-shadow--2dp">
                    <div class="mdl-card__title mdl-card--expand"></div>
                    <div class="mdl-card__actions mdl-color--pink-100">
                      <span class="demo-card-image__filename">Image.jpg</span>
                    </div>
                  </div>
                </div>
                <div class="mdl-cell mdl-cell--4-col">
                  <div class="demo-card-image mdl-card mdl-shadow--2dp">
                    <div class="mdl-card__title mdl-card--expand"></div>
                    <div class="mdl-card__actions mdl-color--pink-100">
                      <span class="demo-card-image__filename">Image.jpg</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="mdl-cell mdl-cell--2-col">
              <div class="demo-card-event mdl-card mdl-shadow--2dp mdl-color--amber-200 card-align-right">
                <div class="mdl-card__supporting-text">
                </div>
              </div>
            </div>
          </div>
        </div>
      </main>
    </div>
    <script src="https://code.getmdl.io/1.3.0/material.min.js"></script>
  </body>
</html>
